*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#logo{
    align-items: start;
    size: 20px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(0, 255, 234);
}
.wrapper{
    background-color: blue;
    width: 420px;
}